<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.algomized.android.jourwee"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.algomized.android.jourwee.JourweeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.algomized.android.jourwee.view.StartActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.algomized.android.jourwee.view.LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name="com.algomized.android.jourwee.view.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>